head {
    text-align: left;
    font-family:'Ubuntu';
    background-color: whitesmoke;
    color:black;
}

body{
text-align: center;
font-family: 'montserratlight';
font-size: 13px;
background: #0c0c0c;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(174, 0, 255, 0.534);
    position: fixed;
    top: 0;
    width: 100%;
}
li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'montserratlight';
}
li a:hover:not(.active){
    background-color:rgba(43, 183, 226, 0.534);
}
.active {
    background-color: rgba(255, 0, 98, 0.534);
}
h1 {
    
    color:whitesmoke;
    text-align:center;
    font-family:'just_another_handregular';
    font-size: 100px;
    margin-right: 60px;
}

h2 {
    width: 100%;
    text-align:center;
    background-color: #0c0c0c;
    padding-top: 10px;
}
    p#facebook {
    border-radius: 90px;   
}
img#facebook {
    border-radius: 50px;
    margin-right: 30px;
}

img#shesfine {
    border-radius: 50px;
    margin-left: 30px;
}

p#sobre {
    font-family:'montserratlight';
    font-size: 18px;
    text-align: right;
    color: rgb(119, 26, 138);
    margin-top: 20px;
    padding-right: 190px;
    padding-left: 140px;
    padding-bottom: 120px;
    
}
.clearfix::after{
    content:"";
    clear: both;
    display: table;
}
#imperfect {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#imperfect:hover {opacity: 0.7;}

.modal {
    display: none;
    position: absolute;
    z-index: 1;
    padding-top: 100px;
    left:0;
    top:0;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgb(0, 0, 0, 0.9);
}
.model-content {
    margin: auto;
    display: block;
    width: 20%;
}
#caption {
    margin: auto;
    display: block;
    width: 20%;
    max-width: 70px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

.model-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}
@keyframes zoom {
    from {transform: scale(0.1)}
    to {transform: scale(1)}
}
 .close { 
      position: absolute;
      top: 15px;
      right: 35px;
      color: #f1f1f1;
      font-size: 40px;
      font-weight: bold;
      transition: 0.3s;
 }

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}


p#redes {
    font-family:'montserratmedium';
    color: rgb(81, 89, 153);
    font-size: 20px;
    text-align: center;
    margin-right: 100px;
    margin-top: 90px;      
}

p#ending {
     color: whitesmoke;
     font-family:'montserratlight';
     text-align: center;
     font-size: 12px;
     
    }

.button {
    background-color:  rgba(140, 0, 255, 0.966);
    border-radius: 14px;
    border-color: rgba(140, 0, 255, 0.479);
    border:2px;
    padding: 19px;
    font-size: 14px;
    font-family: 'montserratlight';
    color: rgb(235, 205, 255);
    transition: all 0.5s; 
    cursor: pointer;
    margin: 3px;
    margin-right: 60px;
}

.button span {
      cursor: pointer;
      display: inline-block;
      position: relative;
      transition: 0.5s;
}

.button span ::after {
    content: '/00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 10px;
    left: 10px;
    transition: 0.5s;
}
.button:hover {
      background-color: rgba(0, 195, 255, 0.726);

}
.button:hover span {
    padding-right: 25px;
    color:rgb(0, 204, 255); 
    
}
.button:hover span::after{
     opacity: 1;
     right: 0;
     
}
address {
    text-align: left;
    font-family: 'montserratlight';
    font-size:12px;
    color:whitesmoke;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer {
    background-color: black;
    width: 100%;
    bottom: 0px;
    left: 0px;
    right: 0px;
}


@font-face {
    font-family: 'montserratmedium';
    src: url('fonts/montserrat-medium-webfont.woff2'),
         url('fonts/montserrat-medium-webfont.woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'montserratlight';
    src: url('fonts/montserrat-light-webfont.woff2') format('woff2'),
         url('fonts/montserrat-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'just_another_handregular';
    src: url('fonts/justanotherhand-regular-webfont.woff2') format('woff2'),
         url('fonts/justanotherhand-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
}
