head {
    text-align: left;
    font-family:'Ubuntu';
    background-color: whitesmoke;
    color:black;
}


body{
text-align: center;
font-family: 'Segoe UI';
font-size: 13px;
background: rgb(88,10,131);
background: linear-gradient(0deg, rgba(88,10,131,1) 0%, rgba(45,240,253,0.8365721288515406) 100%),
url(images/kiss.png);

}

p#marca {
    font-family:'Segoe UI';
    font-size:14px;
    text-align:left;
    background-size: 10px;
    background-color: white transparent;
    color: darkcyan;
    border: 2px solid whitesmoke;
}

p#oioi {
    font-size:48px;
    color:whitesmoke;
    text-align:center;
    font-family:Tahoma;
    background-color:darkmagenta;
    border:2px solid whitesmoke;
}

p#objetivo {
background-color:teal;
font-family:Segoe UI;
color:whitesmoke;
border:2px solid whitesmoke;
text-align:center;
font-size:28px;
}

p#HKD2 {
    color:whitesmoke;
    background-color:teal;
    border:whitesmoke;
    text-align:center;
    font-size:32px;
    font-family:Segoe UI;
}
h1 {
    background-color:crimson;
    color:whitesmoke;
    border:2px solid whitesmoke;
    text-align:center;
    font-family:'Segoe UI';
    font-size: 12px;
}

address {
    text-align: justify;
    font-family: 'Segoe UI';
    font-size:10px;
}
